
@{
    ViewData["Title"] = "Admin Area - ReviewMuse";
}
<div cite="containrt-fluid" style="margin-left:400px">
   
    <h1>Welcome to Admin Area</h1>
    <div class="container-fluid row" style="margin-top:100px">
        <p>- Here you can see all the users of the application.</p>
        <p>- Here you can remove users profiles.</p>
        <p>- You can promote other people as admins.</p>
        <p>- You can promote yourself to become editor.</p>
        <p>Note:</p>
        <p>If you are already an editor you wont see the button "Become Editor" at the navigation bar!</p>
        <h2>What can admin do in the website!</h2>
        <p>- He can edit the book of any user!</p>
        <p>- He can remove any books of any users!</p>
        <p>- He can do everything in the website!</p>
    </div>
</div>