@model ImpoNewAuthorViewModel
@{
    ViewData["Title"] = "Create New Author - ReviewMuse";
}

<div class="container-fluid addAuthorContainer">

    <h2>Create New Author</h2>
    <form method="post">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="FullName">*Author Full Name</label>
                    <input asp-for="FullName" class="form-control" />
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Description">*Short Biography</label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfBirth">*Date of Birth</label>
                    <input asp-for="DateOfBirth" class="form-control" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="DateOfDeath">Date of Death</label>
                    <input asp-for="DateOfDeath" class="form-control" />
                    <span asp-validation-for="DateOfDeath" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Website">Website of the Author</label>
                    <input asp-for="Website" class="form-control" />
                    <span asp-validation-for="Website" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ImageUrl">Image URL for Author Picture</label>
                    <input asp-for="ImageUrl" class="form-control" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CityName">*City Name</label>
                    <input asp-for="CityName" class="form-control" />
                    <span asp-validation-for="CityName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CountryName">*Country Name</label>
                    <input asp-for="CountryName" class="form-control" />
                    <span asp-validation-for="CountryName" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Pseudonim">*Pseudonim of the Author</label>
                    <input asp-for="Pseudonim" class="form-control" />
                    <span asp-validation-for="Pseudonim" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>*Ganres of the Author</label>
                    <select asp-for="GanresId" class="form-control" multiple>
                        @foreach (var genre in Model.Ganres)
                        {
                            <option value="@genre.Id">@genre.CategoryName</option>
                        }
                    </select>
                    <span asp-validation-for="GanresId" class="text-danger"></span>
                </div>

                <p>In order to select multiple Ganres Hold CTRL + Mouse Left Click</p>
                <a class="btn btn-primary" asp-controller="Categories" asp-action="AddCategory" style="margin-top:20px">
                    Add New Ganre
                </a>

            </div>
        </div>
        <p class="authorNotif">Fields with '*' are mandatory.</p>
        <button type="submit" class="btn btn-primary">Create</button>
    </form>
</div>