body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
}

h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}

.container {
    padding: 80px 120px;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */
    width: 100%; /* Set width to 100% */
    margin: auto;
}

.carousel-caption h3 {
    color: #fff !important;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
}

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 h3 {
    color: #fff;
}

.bg-1 p {
    font-style: italic;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

.btn:hover, .btn:focus {
     border: 1px solid #333;
     background-color: #fff;
     color: #000;
}

.modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
}

.modal-header, .modal-body {
    padding: 40px 50px;
}

.nav-tabs li a {
    color: #777;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
}

.navbar-nav li a:hover {
    color: #fff !important;
}

.navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
}

.dropdown-menu li a {
    color: #000 !important;
}

.dropdown-menu li a:hover {
    background-color: red !important;
}

footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}

.form-control {
    border-radius: 0;
}

textarea {
    resize: none;
}

.sticky {
    position: sticky;
    top: 20px;
    margin-top:29px;
}

.bookDetails {
    margin-top:70px
}

.mainDetails{
    margin-right:0px;
    margin-left:0px;
}

#ReadLess {
    display: none;
}

.moreDetails{
    margin-top:40px;
}

.authorName {
    font-family:'Times New Roman', Times, serif
}

.bookTitle{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black
}

.circular-image {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden; 
}

.rating {
    display: inline-block;
    width:270px;
    height:50px;
    margin-right:5px;
    color:goldenrod;
}

.rating input[type="radio"] {
        display: none;
}

.rating label {
 cursor: pointer;
 width: 50px;
 height: 50px;
 background-image: url(~/star_1828884.png); /* Replace with your star icon image */
 background-size: cover;
 font-size: 30px;
}

.rating label:before {
 content: "\2605";
 position: absolute;
 opacity: 0;
}

.rating label:hover:before,
.rating label:hover ~ label:before,
.rating input[type="radio"]:checked ~ label:before {
 opacity: 1;
}


.user-info {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
    text-decoration:underline
}

.username {
    font-style:oblique
}

.datetime {
    margin-left: 10px;
    color: #777; /* Change the color for the date and time */
    margin-left:730px;
}

.rating2 {
    font-size: 24px;
    color: #f1c40f; /* Change the color of the stars */
}

.star {
    display: inline-block;
}

.star.filled {
    color: #f1c40f; /* Change the color of the filled stars */
}

.star.empty {
        color: #ccc; /* Change the color of the empty stars */
}

.comment {
    margin-top: 10px;
    font-size: 16px;
}

.review{
    margin-bottom:50px;
    padding:20px;
}

.userLogged{
    margin-bottom:50px;
    padding:30px;  
}

reviewsZone{
    font-family:'Times New Roman', Times, serif;
    font-display:block
}

.emptyBooks{
    margin-top:100px;
    text-align:center
}

.reviewBullets{
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}

.bookMetadata{
    font-style:italic;
}

/*
    Categories view css
*/

.category1 {
    margin-top:100px;

}

.ganre1 {
    margin-bottom:50px;
}

.ganre1 h2{
    font-family:'Times New Roman', Times, serif;
    font-weight:bold
}

.info1 {
    margin-top:10px;
}

.carousel1 {
    display: flex;
    overflow-x: auto;
    scrollbar-width: none; /* Remove scrollbar for a clean look */
    -ms-overflow-style: none; /* IE and Edge */
}

.card1 {
    flex: 0 0 200px; /* Set the width of each card */
    margin: 10px;
    /* Add other styles for the book cards */
}

.card1 img {
    width: 150px;
    height: 230px;
        /* Add styles for the book image */
}

    .card1 h3 {
        font-size: 13px; /* Adjust the font size as needed */
        font-family: "Arial", sans-serif; /* Replace with your desired font family */
        color: #333; /* Change the color as per your design */
        text-align: left; /* Center the title if desired */
        margin-bottom: 5px;
    }

.noBooks1 {
    margin-left:550px;
    margin-bottom:100px;
}

/*Author view*/
.container2 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    margin-top:40px;
    margin-bottom:10px;
}

.author-info2 {
    display: flex;
    align-items: flex-start;
}

.author-image2 {
    flex: 0 0 200px;
    margin-right: 20px;
}

    .author-image2 img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }

.author-details2 {
    flex: 1;
}


.content2 {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
}

.main2 {
    flex: 1;
    margin-bottom:10px;
}

.carousel2 {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.book-card2 {
    flex: 0 0 200px;
    margin: 10px;
}
bookTitle2 {
    font-size: 13px; /* Adjust the font size as needed */
    font-family: "Arial", sans-serif; /* Replace with your desired font family */
    color: #333; /* Change the color as per your design */
    text-align: left; /* Center the title if desired */
    margin-bottom: 5px;
}

    .book-card2 img {
        width: 150px;
        height: 230px;
    }


/* Add sticky class styles */
.sticky2 {
    position: sticky;
    top: 20px;
}

/* Additional styles for author details */
.author-details2 {
    padding-left: 20px;
    margin-bottom: 20px;
}

.author-details2 p {
        margin-bottom: 5px;
}

/*
    Add to fav button
*/

.addToFavButton {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333; 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

    /* Button hover effect */
.addToFavButton:hover {
    background-color: #45a049; /* Darker green color on hover */
}

.favForm{
    margin-top:20px;
    margin-left:40px;
}

/*
    Authors For Adding book style
*/
.author-img2 {
    max-width: 300px;
    height: 200px;
}

.cardAuthor {
    height: 100%;
    margin-bottom:50px;
}

.authorsHeader1 {
    text-align:center;
    margin-top:100px;   
}

.addAuthorBtn {
    margin-left:265px;
    background-color:green
}
.addAuthorContainer {
    margin-top:50px;
    margin-bottom:100px;
}

.authorNotif{
    font-size:15px;
    font-style:italic;
    color:red
}

/*
    Books For Adding book style
*/

.addBookContainer{
    margin-top:50px;
    text-align:center;
    margin-bottom:80px;
}

.addBookContainer button{
    margin-top:50px;
}

/*
    AddLanguage form
*/
.addLanguageForm{
    margin-top:100px;
    margin-bottom:400px;
    margin-left:500px;
}

.addLanguageForm form{
    margin-top:100px
}

.addLanguageForm button{
    margin-top:27px;
    margin-left: 30px;
}

.addGanreForm {
    margin-top: 100px;
    margin-bottom: 400px;
    margin-left: 120px;
}

.addGanreForm form {
    margin-top: 100px
}

.addGanreForm button {
    margin-top: 33px;
    margin-left: 30px;
}
